<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion Medicos</title>
<link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Estilos_Externos.css">
</head>
<body>
    <div>
    <ul class="menuP">
        <li><a href="IAdmIMedica.html">Administración Médica</a>
            <ul class="submenu">  
            </ul>
        </li>
        <li><a href="RegPas.html">Registro Paciente</a>
            <ul class="submenu">
            </ul>
        </li>
        <li><a href="IExploYDiagnost.html">Diagnóstico</a>
            <ul class="submenu">
            </ul>
        </li>
        <li><a href="ConsultaPacientes.html">Consultar Paciente</a>
            <ul class="submenu">              
            </ul>
        </li>
        <li><a href="AdministracionMedicos.html">Administración Consultas</a>
            <ul class="submenu">               
            </ul>
        </li>
                    <li><a href="ListaDr.html">Lista de Doctores</a>
                <ul class="submenu">               
                </ul>
            </li>
        </li>
    </ul> 
</div>

<div class="Formulario">
    <h1> Administración Medicos</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Nombre del paciente</label>
        </div>
        <div class="username">
            <input type="date" required>
            <label>Filtrar por fecha</label>
        </div>
    </form>
    <input type="submit" value="Filtrar"> 
        <form method="post">

        <div class="username">
            <input type="text" required>
            <label>Datos de Pacientes</label>

        
    </form>
  </div>  
  <input type="submit" value="Imprimir"> 
</body>
</html>