<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas paciente</title>
<link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Estilos_Externos.css">
</head>
<body>
    <div>
        <ul class="menuP">
            <li><a href="IAdmIMedica.html">Administración Médica</a>
                <ul class="submenu">  
                </ul>
            </li>
            <li><a href="RegPas.html">Registro Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="IExploYDiagnost.html">Diagnóstico</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="ConsultaPacientes.html">Consultar Paciente</a>
                <ul class="submenu">              
                </ul>
            </li>
            <li><a href="AdministracionMedicos.html">Administración Consultas</a>
                <ul class="submenu">               
                </ul>
            </li>
            <li><a href="ListaDr.html">Lista de Doctores</a>
                <ul class="submenu">               
                </ul>
            </li>
            </li>
        </ul> 
    </div>

<div class="Formulario">
    <h1> consulta paciente</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Medico</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Paciente</label>
        </div>
    </form>
    <input type="submit" value="Aceptar">
    <input type="submit" value="editar">
    <form method="post">
        <div class="username">
            <input type="number" required>
            <label>Peso</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Nombre</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Apellido Paterno</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Apellido Materno</label>
        </div>
        <div class="username">
            <input type="date" required>
            <label>Fecha de Naciemiento</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Enfermedades Cronicas</label>
        </div>
        <div class="username">
                <input type="text" required>
                <label>Alergias</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Antecedentes familiares</label>
    </form>
  </div>  
  <input type="submit" value="Entrar">
  <input type="submit" value="Salir">  
</body>
</html>
