<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Pacientes</title>
<link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Estilos_Externos.css">
</head>
<body>
    <div>
        <ul class="menuP">
            <li><a href="IAdmIMedica.html">Administración Médica</a>
                <ul class="submenu">  
                </ul>
            </li>
            <li><a href="RegPas.html">Registro Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="IExploYDiagnost.html">Diagnostico</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="ConsultaPacientes.html">Consultar Paciente</a>
                <ul class="submenu">              
                </ul>
            </li>
            <li><a href="AdministracionMedicos.html">Administracion Consultas</a>
                <ul class="submenu">               
                </ul>
            </li>
            <li><a href="ListaDr.html">Lista de Doctores</a>
                <ul class="submenu">               
                </ul>
            </li>
            </li>
        </ul> 
    </div>

<div class="Formulario">
    <h1>Registro de Paciente</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Nombre Dr</label>
        </div>
        <div class="username">

            <input type="text" required>
            <label>Nombre(s) Paciente</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Apellido Paterno</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Fecha de Nacimiento</label>
        </div>
        <div class="username">
            <input type="number" required>
            <label>Edad</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Enfermedades Cronicas</label>
        </div>
        <div class="username">
            <input type="Text" required>
            <label>Alergias</label>
        </div>
        <div class="username">
            <input type="text" required>
            <label>Antecedentes familares</label>
            
    </form>
  </div>  
  <input type="submit" value="Aceptar">
  <input type="submit" value="Agregar"> 
  <input type="submit" value="Actualizar">
  <input type="submit" value="Borrar"> 
  <input type="submit" value="Salir">  
</body>
</html>